body {
  margin: 0;
  overflow: hidden;
  background: black;
}

#ui {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
  font-family: Arial;
  background: rgba(0,0,0,0.6);
  padding: 10px;
  border-radius: 10px;
  z-index: 10;
}
