body {
  margin: 0;
  overflow: hidden;
  background: black;
}

#ui {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
  font-family: Arial;
  background: rgba(0,0,0,0.6);
  padding: 10px;
  border-radius: 10px;
  z-index: 10;
}

/* HOTBAR */
#hotbar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  background: rgba(0,0,0,0.5);
  padding: 10px 20px;
  border-radius: 15px;
}

.slot {
  width: 50px;
  height: 50px;
  background: rgba(255,255,255,0.1);
  border: 2px solid #aaa;
  border-radius: 10px;
  color: white;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slot.active {
  border-color: gold;
}
